.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.digimon-container {
  flex: 1;
  margin-right: 20px;
}

.post-section {
  flex: 1;
  margin-left: 20px;
}

.post-section h2 {
  margin-top: 0;
}

.post-section img {
  max-width: 100%;
  height: auto;
}

.post-section form textarea {
  width: 100%;
  margin-bottom: 10px;
  resize: vertical;
}

.post-section form button {
  display: block;
  margin-top: 10px;
}

.post-section h3 {
  margin-top: 20px;
}

.post-section div textarea {
  width: calc(100% - 80px); /* Adjust as needed */
  margin-bottom: 10px;
  resize: vertical;
}

.post-section div button {
  margin-top: 10px;
  margin-right: 10px;
}