.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
}

.digimon-container {
  margin-right: 20px;
}

.post-section {
  width: 400px;
}

.post-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.post-section img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.post-section form {
  margin-bottom: 20px;
}

.post-section textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.post-section button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
}

.post-section button:hover {
  background-color: #0056b3;
}

.post-section h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.post-section div textarea {
  margin-bottom: 10px;
}

.post-section div button {
  margin-top: 10px;
}
