<div class="container">
  <div class="digimon-container">
  </div>
  <div class="post-section">
    <h2>Poste seu comentário sobre {{ digimon.name }}</h2>
    <img [src]="digimon.img" alt="{{ digimon.name }}">
    <form (ngSubmit)="submitPost()">
      <textarea [(ngModel)]="postContent" name="postContent" placeholder="Escreva o seu post..."></textarea>
      <button type="submit">Postar</button>
    </form>
    <div *ngIf="digimon.posts && digimon.posts.length > 0">
      <h3>Posts:</h3>
      <div *ngFor="let post of digimon.posts; let i = index">
        <textarea [(ngModel)]="post.content"></textarea>
        <button (click)="removePost(i)">Remover</button>
        <button (click)="editPost(i, post.content)">Salvar</button>
      </div>
    </div>
  </div>
</div>