<!-- registro.component.html -->
<form class="form-container" (submit)="registrarUsuario()">
    <h2>Registro</h2>
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" [(ngModel)]="nome" required [ngModelOptions]="{ standalone: true }">
  
    <label for="email">E-mail:</label>
    <input type="email" id="email" name="email" [(ngModel)]="email" required [ngModelOptions]="{ standalone: true }">
  
    <!-- <label for="senha">Senha:</label>
    <input type="password" id="senha" name="senha" [(ngModel)]="senha" required [ngModelOptions]="{ standalone: true }"> -->
  
    <label for="senha">Senha:</label>
    <div class="password-input-container">
      <input [type]="mostrarSenha ? 'text' : 'password'" id="senha" name="senha" [(ngModel)]="senha" required
        [ngModelOptions]="{ standalone: true }">
      <span class="toggle-password" (click)="togglePasswordVisibility()">
        <i class="bi" [ngClass]="mostrarSenha ? 'fa fa-eye' : 'fa fa-eye-slash' "></i>
      </span>
  
    </div>
  
  
    <button type="submit">Registrar</button>
  </form>
  
  <div class="toast success-toast">
    <span class="toast-icon">&#10003;</span>
    <span class="toast-message">Registrado com sucesso!</span>
    <div class="toast-progress"></div> <!-- Barra de progresso -->
  </div>
  
  <div class="toast error-toast">
    <span class="toast-icon-error">&#10007;</span>
    <span class="toast-message">Por favor, preencha todos os campos.</span>
    <div class="toast-progress"></div>
  
  </div>

  <div *ngIf="usuarioLogado">
    <p>Você está logado!</p>
    <!-- Outros conteúdos para usuários logados -->
  </div>