<header>
  <div class="header-container">
    <a routerLink="/" routerLinkActive="active" class="title">Digimon <span>API</span></a>
    <nav>
      <li><a routerLink="/home">Início</a></li>    
      <li><a routerLink="/quiz">Quiz</a></li>
      <!-- <li *ngIf="!isLogged()"><a routerLink="/registro">Registro</a></li> -->
      <li *ngIf="isLogged()"><a routerLink="/profile">Meu Perfil</a></li>
      <!-- <li>
        <a routerLink="/login" *ngIf="!isLogged()">Login</a>
        <a routerLink="/logout" *ngIf="isLogged()">Sair</a>
      </li> -->
    </nav>
  </div>
</header>

<router-outlet></router-outlet>
