<img [src]="'../../assets/Logo.png'" alt="Logo Digimon" class="imgLogo">


<main class="main">
  <div class="filter-section">
    <div class="search-container">
      <input [(ngModel)]="searchName" (input)="searchByName(searchName)" placeholder="Buscar" class="search-input">
      <span class="search-icon">
          <ng-icon name="ionSearchOutline" class="white-icon"></ng-icon>
      </span>
  </div>
  

    <div class="filter-buttons">
      <button (click)="clearFilter()" class="btn-blue">Todos</button>
      <button (click)="filterByLevel('Fresh')">Fresh</button>
      <button (click)="filterByLevel('In Training')">In Training</button>
      <button (click)="filterByLevel('Rookie')">Rookie</button>
      <button (click)="filterByLevel('Champion')">Champion</button>
      <button (click)="filterByLevel('Mega')">Mega</button>
      <button (click)="filterByLevel('Ultimate')">Ultimate</button>
    </div>
  </div>

  <div class="card-container">
    <div class="card" *ngFor="let digimon of filteredDigimonList">
      <div (click)="navigateToDetail(digimon)" class="card-content">
        <h2>{{ digimon.name }}</h2>
        <img [src]="digimon.img" alt="{{ digimon.name }}">
        
      </div>
      <button class="details-button" (click)="openModal(digimon)">Ver Detalhes</button>
    </div>
    
  </div>

  <div *ngIf="filteredDigimonList.length === 0" class="no-digimon-found">
    Nenhum Digimon encontrado.
  </div>

  <div class="modal-backdrop" *ngIf="selectedDigimon" (click)="closeModal()"></div>
  <div class="modal" *ngIf="selectedDigimon">
    <div class="modal-header">
      <h4>{{ selectedDigimon.name }}</h4>
      <button (click)="closeModal()">
        <ng-icon name="ionCloseCircleOutline" class="icon-styles"></ng-icon>

      </button>
    </div>

    <div class="modal-image-container">
      <img class="modal-image" [src]="selectedDigimon.img" alt="{{ selectedDigimon.name }}">
    </div>
    <div class="modal-description-container">
      <p class="list-item"> {{ selectedDigimon.level }}</p>
      <span><b>Descrição:</b> Lorem ipsum dolor sit amet, consectetur adipiscingelit. Integer nulla eros, pulvinar id magna sed, sagittis tempuselit. Nulla lacinia laoreet  magna quis maximus. </span>
    </div>
  </div>
</main>